.BlogPage {
  background: #d0d1d6;
  grid-template-columns: 1.2fr .6fr 1.2fr;
  height: 100dvh;
  //padding: 15dvh 15dvw;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    justify-content: center;
    position: relative;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80dvw;
    height: 80dvh;
  }

  h1{
    color: black;
    font-size: 20dvh;
    position: absolute;
  }

  .phone {
    width: 25%;
    z-index: 2;
    position: absolute;
  }
  .blogList {
    position: absolute;
    bottom: 10%;
    left: 0;

    h4 {
      font-size: 3dvh;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .blogDetails {
    position: absolute;
    right: 0;
    bottom: 30%;
    color: black;
  }
  .date {
    position: absolute;
    left: 0;
    top: 30%;
    color: black;
  }
  .author {
    position: absolute;
    left: 0;
    top: 35%;
    color: black;
  }
}