.BlogPage {
  background: #d0d1d6;
  grid-template-columns: 1.2fr .6fr 1.2fr;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    justify-content: center;
    position: relative;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80dvw;
    height: 80dvh;
  }

  h1{
    font-family: montserratBold;
    color: black;
    position: absolute;
  }

  .phone {
    z-index: 2;
    position: absolute;
  }
  .blogList {
    position: absolute;
    left: 0;

    h4 {
      font-family: montserratBold;
      font-size: 3dvh;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        font-family: montserratBold;
      }
    }
  }

  .blogDetails {
    position: absolute;
    right: 0;
    color: black;
  }
  .date {
    position: absolute;
    left: 0;
    color: black;
  }
  .author {
    position: absolute;
    left: 0;
    color: black;
  }
}

//Desktop
@media (min-width: (700px)) {

  .BlogPage h1 {
    font-size: 20dvh;
  }

  .phone {
    width: 25%;
  }

  .date{
    top: 30%;
  }

  .author {
    top: 35%;
  }

  .blogList {
    bottom: 10%;
  }

  .blogDetails {
    bottom: 30%;
  }
}

//Phone
@media (max-width: (699px)) {
  .BlogPage {

    h1 {
      font-size: 7dvh;
    }
    
    .phone {
      width: 60%;
    }
  
    .date{
      top: 10%;
    }
  
    .author {
      top: 15%;
    }
  
    .blogList {
      bottom: 0%;
    }
  
    .blogDetails {
      bottom: 16%;
    }
  }
}